<body>
    
<div class="container">
  <h1>Users</h1>
  <form [formGroup]="FormGroup">
    <div class="search" appearance="fill">
        <input formControlName="search" placeholder="Enter Username">    
        <div class="icon"><button (click)="search(FormGroup)">search</button></div>         
    </div>
  </form>

    <table class="table">
      <thead>
      <tr>
        <th>id</th>
        <th>Profile Image</th>
        <th>Username</th>
        <th>User Type</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody >
        <tr *ngFor="let items of users, let i=index let c=count">
            <td>{{items.id}}</td>
            <td><img src="{{items.avatar_url}}"></td>
            <td>{{items.login}}</td>
            <td>{{items.type}}</td>
            <td><button routerLink ="{{items.login}}/">View</button></td>
        </tr>
    </tbody>
  </table>   
   
  <div class="btns">
    <button (click)="Next()">Next</button>
    <button (click)="Back()">Previous</button>
  </div>
</div>
  
 <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/641d4bfb4247f20fefe7b340/1gs971kgp';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->


</body>

