<body>
    <div class="container">
      <h1>User Details</h1>
        <div class="avatar" *ngFor="let items of details">
          <div class="hero-img">
            <img class="avatar-hero" src="{{items.avatar_url}}">
          </div>
            <div class="avatar-container">
                <div class="info">
                    <p>{{items.name}}</p>
                    <p>{{items.bio}}</p>
                    <p>{{items.location}}</p>
                </div>
            </div>
        </div>
        <table class="table mt-5">
          <thead>
          <tr>
            <th>Username</th>
            <th><button [routerLink] = "'followers'">Followers</button></th>
            <th><button [routerLink] = "'following'">Following</button></th>
            <th><button [routerLink] = "'repos'">Repo #</button></th>
            <th><button [routerLink] = "'gists'">Gists #</button></th>
          </tr>
          </thead>
          <tbody >
            <tr *ngFor="let items of details, let i=index let c=count">
                <td>{{items.login}}</td>
                <td>{{items.followers}}</td>
                <td>{{items.following}}</td>
                <td>{{items.public_repos}}</td>
                <td>{{items.public_gists}}</td>
               
            </tr>
        </tbody>
      </table>   
       
      
    </div>
    
    
    </body>
    
    