<body>
  <div class="container">
    <h1>Followers</h1>
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>Username</th>
          <th>Profile Image</th>
          <th>Type</th>
          <th>Url</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let items of followers, let i=index let c=count">
          <td>{{items.id}}</td>
          <td>{{items.login}}</td>
          <td><img src="{{items.avatar_url}}"></td>
          <td>{{items.type}}</td>
          <td>{{items.html_url}}</td>
          
        </tr>
      </tbody>
    </table>   
       
    <div class="btns">
      <button (click) = "Next()">Next</button>
      <button (click) = "Back()">Previous</button>
    </div>
  </div>
</body>
    
    