/* You can add global styles to this file, and also import other style files */
* {
   margin: 0px;
}

img {
   width: 100px;
   border-radius: 50%;
}

body { 
   height: 100%;
   margin-bottom: 50px;
}

* {
    box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}

body {
   font-family: Helvetica;
   -webkit-font-smoothing: antialiased;
   background: rgba( 71, 147, 227, 1);
}

h2 {
   text-align: center;
   font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 1px;
   color: white;
   padding: 30px 0;
}

h1, p {
   text-align: center;
   font-family: Avenir, Helvetica, Arial, sans-serif;
   color: #2c3e50;
}

.container h1 {
   margin: 50px 0px;
}

/* Table Styles */

table {
   margin: 10px 70px 70px;
   box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

table {

   border-radius: 5px;
   font-size: 12px;
   font-weight: normal;
   border: none;
   border-collapse: collapse;
   width: 1200px;
   max-width: 100%;
   white-space: wrap;
   background-color: white;
}

table td, table th {
   text-align: center;
   padding: 25px;
   color: #2c3e50;

}

table td {
   border-right: 1px solid #f8f8f8;
   font-size: 12px;
}

thead th {
   color: #ffffff;
   background: #324960;
}

button {
   border: none;
   padding: 9px;
   width: 150px;
   cursor: pointer;
   border-radius: 5px;
   color: #fff;
   box-shadow: 0 0 40px 40px #4FC3A1 inset, 0 0 0 0 #4FC3A1;
}

.btns {
   display: flex;
   justify-content: center;
   gap:50px;
}